<a href="https://colab.research.google.com/github/koushikgoodur/koushikgoodur/blob/main/P83.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import pandas as pd
import numpy as np

In [60]:
df = pd.read_csv('Bollywood songs.csv')

In [61]:
df

     Unnamed: 0  ... User-Rating
0             1  ...      8.8/10
1             2  ...      9.0/10
2             3  ...      9.7/10
3             4  ...      9.1/10
4             5  ...      9.2/10
...         ...  ...         ...
2416       2417  ...      10-Oct
2417       2418  ...      10-Oct
2418       2419  ...      10-Oct
2419       2420  ...      6.6/10
2420     8.8/10  ...         NaN

[2421 rows x 6 columns]

In [62]:
df = df.rename({'Unnamed: 0': 'UserID'}, axis=1)
df

      UserID  ... User-Rating
0          1  ...      8.8/10
1          2  ...      9.0/10
2          3  ...      9.7/10
3          4  ...      9.1/10
4          5  ...      9.2/10
...      ...  ...         ...
2416    2417  ...      10-Oct
2417    2418  ...      10-Oct
2418    2419  ...      10-Oct
2419    2420  ...      6.6/10
2420  8.8/10  ...         NaN

[2421 rows x 6 columns]

In [ ]:
df=df.drop('Unnamed: 0',axis=1)

In [63]:
df=df.fillna(df.mean())

In [64]:
df

      UserID  ... User-Rating
0          1  ...      8.8/10
1          2  ...      9.0/10
2          3  ...      9.7/10
3          4  ...      9.1/10
4          5  ...      9.2/10
...      ...  ...         ...
2416    2417  ...      10-Oct
2417    2418  ...      10-Oct
2418    2419  ...      10-Oct
2419    2420  ...      6.6/10
2420  8.8/10  ...         NaN

[2421 rows x 6 columns]

In [65]:
df.drop(df.index[len(df)-1])

     UserID  ... User-Rating
0         1  ...      8.8/10
1         2  ...      9.0/10
2         3  ...      9.7/10
3         4  ...      9.1/10
4         5  ...      9.2/10
...     ...  ...         ...
2415   2416  ...      10-Oct
2416   2417  ...      10-Oct
2417   2418  ...      10-Oct
2418   2419  ...      10-Oct
2419   2420  ...      6.6/10

[2420 rows x 6 columns]

In [66]:
df = df.replace('10-Oct', np.NaN)
replace = df.fillna(df.mode().iloc[0], inplace=True)

In [67]:
df = df.replace('9-oct', np.NaN)
replace = df.fillna(df.mode().iloc[0], inplace=True)

In [68]:
df

      UserID  ... User-Rating
0          1  ...      8.8/10
1          2  ...      9.0/10
2          3  ...      9.7/10
3          4  ...      9.1/10
4          5  ...      9.2/10
...      ...  ...         ...
2416    2417  ...      9.4/10
2417    2418  ...      9.4/10
2418    2419  ...      9.4/10
2419    2420  ...      6.6/10
2420  8.8/10  ...      9.4/10

[2421 rows x 6 columns]

In [76]:
df["UserID"].replace({"8.8/10": "2421"}, inplace=True)
df

     UserID  ... User-Rating
0         1  ...      8.8/10
1         2  ...      9.0/10
2         3  ...      9.7/10
3         4  ...      9.1/10
4         5  ...      9.2/10
...     ...  ...         ...
2416   2417  ...      9.4/10
2417   2418  ...      9.4/10
2418   2419  ...      9.4/10
2419   2420  ...      6.6/10
2420   2421  ...      9.4/10

[2421 rows x 6 columns]

In [77]:
df.isnull().sum()

UserID            0
Song-Name         0
Singer/Artists    0
Genre             0
Album/Movie       0
User-Rating       0
dtype: int64

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2421 entries, 0 to 2420
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UserID          2421 non-null   object
 1   Song-Name       2421 non-null   object
 2   Singer/Artists  2421 non-null   object
 3   Genre           2421 non-null   object
 4   Album/Movie     2421 non-null   object
 5   User-Rating     2421 non-null   object
dtypes: object(6)
memory usage: 113.6+ KB

In [79]:
df.shape

(2421, 6)

In [80]:
df=df.rename(columns={'Song-Name':'Song','Singer/Artists':'Singer','Album/Movie':'Movie','User-Rating':'Rating'})
df

     UserID  ...  Rating
0         1  ...  8.8/10
1         2  ...  9.0/10
2         3  ...  9.7/10
3         4  ...  9.1/10
4         5  ...  9.2/10
...     ...  ...     ...
2416   2417  ...  9.4/10
2417   2418  ...  9.4/10
2418   2419  ...  9.4/10
2419   2420  ...  6.6/10
2420   2421  ...  9.4/10

[2421 rows x 6 columns]

In [82]:
df['Rating'] = df['Rating'].str.replace('/10', '')
df

     UserID  ... Rating
0         1  ...    8.8
1         2  ...    9.0
2         3  ...    9.7
3         4  ...    9.1
4         5  ...    9.2
...     ...  ...    ...
2416   2417  ...    9.4
2417   2418  ...    9.4
2418   2419  ...    9.4
2419   2420  ...    6.6
2420   2421  ...    9.4

[2421 rows x 6 columns]

In [83]:
df.dtypes

UserID    object
Song      object
Singer    object
Genre     object
Movie     object
Rating    object
dtype: object

In [86]:
df['UserID'] = pd.to_numeric(df['UserID'],errors = 'coerce')
df['Rating'] = pd.to_numeric(df['Rating'],errors = 'coerce')
df

      UserID  ... Rating
0          1  ...    8.8
1          2  ...    9.0
2          3  ...    9.7
3          4  ...    9.1
4          5  ...    9.2
...      ...  ...    ...
2416    2417  ...    9.4
2417    2418  ...    9.4
2418    2419  ...    9.4
2419    2420  ...    6.6
2420    2421  ...    9.4

[2421 rows x 6 columns]

In [87]:
df.dtypes

UserID      int64
Song       object
Singer     object
Genre      object
Movie      object
Rating    float64
dtype: object

In [92]:
len(df.UserID.unique())

2421

In [95]:
len(df.Genre.unique())

21

In [103]:
song=df.pivot_table(index='UserID',columns='Genre',values='Rating').reset_index(drop=True)
song

Genre  Bollywood  BollywoodDance  ...  BollywoodSad  BollywoodSensual
0            NaN             8.8  ...           NaN               NaN
1            NaN             NaN  ...           NaN               NaN
2            NaN             9.7  ...           NaN               NaN
3            NaN             9.1  ...           NaN               NaN
4            NaN             NaN  ...           NaN               NaN
...          ...             ...  ...           ...               ...
2415         NaN             9.4  ...           NaN               NaN
2416         NaN             9.4  ...           NaN               NaN
2417         NaN             9.4  ...           NaN               NaN
2418         NaN             6.6  ...           NaN               NaN
2419         NaN             9.4  ...           NaN               NaN

[2420 rows x 21 columns]

In [ ]:
df = df.drop(labels=2421, axis=0)

In [110]:
df

      UserID  ... Rating
0          1  ...    8.8
1          2  ...    9.0
2          3  ...    9.7
3          4  ...    9.1
4          5  ...    9.2
...      ...  ...    ...
2415    2416  ...    9.4
2416    2417  ...    9.4
2417    2418  ...    9.4
2418    2419  ...    9.4
2419    2420  ...    6.6

[2420 rows x 6 columns]

In [111]:
song.index=df.UserID.unique()

In [112]:
song

Genre  Bollywood  BollywoodDance  ...  BollywoodSad  BollywoodSensual
1            NaN             8.8  ...           NaN               NaN
2            NaN             NaN  ...           NaN               NaN
3            NaN             9.7  ...           NaN               NaN
4            NaN             9.1  ...           NaN               NaN
5            NaN             NaN  ...           NaN               NaN
...          ...             ...  ...           ...               ...
2416         NaN             9.4  ...           NaN               NaN
2417         NaN             9.4  ...           NaN               NaN
2418         NaN             9.4  ...           NaN               NaN
2419         NaN             6.6  ...           NaN               NaN
2420         NaN             9.4  ...           NaN               NaN

[2420 rows x 21 columns]

In [113]:
song.fillna(0,inplace=True)
song

Genre  Bollywood  BollywoodDance  ...  BollywoodSad  BollywoodSensual
1            0.0             8.8  ...           0.0               0.0
2            0.0             0.0  ...           0.0               0.0
3            0.0             9.7  ...           0.0               0.0
4            0.0             9.1  ...           0.0               0.0
5            0.0             0.0  ...           0.0               0.0
...          ...             ...  ...           ...               ...
2416         0.0             9.4  ...           0.0               0.0
2417         0.0             9.4  ...           0.0               0.0
2418         0.0             9.4  ...           0.0               0.0
2419         0.0             6.6  ...           0.0               0.0
2420         0.0             9.4  ...           0.0               0.0

[2420 rows x 21 columns]

In [114]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import correlation,cosine

In [115]:
user_sim=1-pairwise_distances(song.values,metric='cosine')
user_sim

array([[1., 0., 1., ..., 1., 1., 1.],
       [0., 1., 0., ..., 0., 0., 0.],
       [1., 0., 1., ..., 1., 1., 1.],
       ...,
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.],
       [1., 0., 1., ..., 1., 1., 1.]])

In [116]:
user_df=pd.DataFrame(user_sim)
user_df

      0     1     2     3     4     5     ...  2414  2415  2416  2417  2418  2419
0      1.0   0.0   1.0   1.0   0.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
1      0.0   1.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2      1.0   0.0   1.0   1.0   0.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
3      1.0   0.0   1.0   1.0   0.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
4      0.0   0.0   0.0   0.0   1.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
...    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
2415   1.0   0.0   1.0   1.0   0.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
2416   1.0   0.0   1.0   1.0   0.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
2417   1.0   0.0   1.0   1.0   0.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
2418   1.0   0.0   1.0   1.0   0.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0
2419   1.0   0.0   1.0   1.0   0.0   1.0  ...   1.0   1.0   1.0   1.0   1.0   1.0

[2420 rows x 2420 columns]

In [119]:
user_df.index=df.UserID.unique()
user_df.columns=df.UserID.unique()

In [121]:
user_df.iloc[0:5 ,0:5]

     1    2    3    4    5
1  1.0  0.0  1.0  1.0  0.0
2  0.0  1.0  0.0  0.0  0.0
3  1.0  0.0  1.0  1.0  0.0
4  1.0  0.0  1.0  1.0  0.0
5  0.0  0.0  0.0  0.0  1.0

In [122]:
np.fill_diagonal(user_sim,0)
user_df.iloc[0:5 ,0:5]

     1    2    3    4    5
1  0.0  0.0  1.0  1.0  0.0
2  0.0  0.0  0.0  0.0  0.0
3  1.0  0.0  0.0  1.0  0.0
4  1.0  0.0  1.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0

In [123]:
user_df.idxmax(axis=1)[0:5]

1     3
2    31
3     1
4     1
5    10
dtype: int64

In [124]:
user_df.idxmax(axis=1)

1        3
2       31
3        1
4        1
5       10
        ..
2416     1
2417     1
2418     1
2419     1
2420     1
Length: 2420, dtype: int64

In [126]:
df[(df['UserID']==2)|(df['UserID']==31)]

    UserID       Song  ...        Movie Rating
1        2  Coca Cola  ...  Luka Chuppi    9.0
30      31    Heeriye  ...       Race 3    8.7

[2 rows x 6 columns]

In [127]:
df[(df['UserID']==5)|(df['UserID']==10)]

   UserID  ... Rating
4       5  ...    9.2
9      10  ...    9.6

[2 rows x 6 columns]

In [129]:
df[(df['UserID']==2416)|(df['UserID']==1)]

      UserID                    Song  ...    Movie Rating
0          1             Aankh Marey  ...   Simmba    8.8
2415    2416  Jana Tumhare Pyar Mein  ...  Sasural    9.4

[2 rows x 6 columns]

In [130]:
user1=df[(df['UserID']==2)]
user2=df[(df['UserID']==5)]

In [132]:
user1.Movie

1    Luka Chuppi
Name: Movie, dtype: object

In [133]:
user2.Movie

4    Simmba
Name: Movie, dtype: object

In [137]:
pd.merge(user1,user2,on='Movie',how='outer')

   UserID_x     Song_x  ...            Genre_y Rating_y
0       2.0  Coca Cola  ...                NaN      NaN
1       NaN        NaN  ...  BollywoodRomantic      9.2

[2 rows x 11 columns]